doctype html
html(lang="en")
  head
    title Ray Fit
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/background.css")
  body
    #stars
    #stars2
    #stars3
    #playground
      .distance
        span {{.Distance}} km
      .earth
        img(src="/static/earth.png")
      #distance
        #me
          img(src="/static/astronaut.png")
      .iss
        img(src="/static/space_ship.png")
    script const myDistance={{.Distance}}
    script(src="/js/script.js" async="")
