doctype html
html(lang="en")
  head
    title {{.Title}}
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/script.js" async="")
  body
    h1 Watch your steps
    .shoes
      .left
        img(src="/static/shoe.png")
      .right
        img(src="/static/shoe.png")
